@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Base Typography
   ========================= */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Headings */
h1,
h2,
h3 {
  font-weight: 700;
}

/* Paragraphs */
p {
  line-height: 1.6;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

